.active_btn {
  background-color: #138496 !important;
}
.btn {
  border: 1px solid whitesmoke !important;
}
.btn:focus {
  box-shadow: none !important;
  /* outline: thin dotted !important; */
}
.navbar_container {
  background-color: #138496;
  text-align: center;
}
.navbar_title {
  font-weight: bold;
  font-size: 25px !important;
  text-align: center;
  width: 100%;
  color: #fff !important;
}
.search_btn {
  margin-top: 0.5rem;
  width: 100%;
}
#ticket_card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input-range__label-container {
  color: black;
}
.input-range__label--max > .input-range__label-container {
  margin-right: 2rem;
}
